<style type="text/css"> 
body {
    background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div style=" padding-top: 15px;">
     <div class="container">
        <div class="row">
            <div class="well" style="text-align: center;">
                <h1 style="color: red">ERRO 404</h1>
                <br />
                <h4 style="color: #333; font-size: 30px">Ops! Sua solicitação não pode ser processada.</h4>
                <br />
                <br />
                <div class="col-md-6 col-md-offset-4">
                <img src="<?php echo $this->basePath() . '/assets/img/erro404.png'; ?>" class="img-responsive" width="400">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>