<br>
<div class="container">
    <div class="row">
    	<div class="clearfix"></div>
        <div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'cashier']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-money" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Caixa</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'sale']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-list" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Vendas</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'account', 'action' => 'payable']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-dollar" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Contas a Pagar</h1>
			</div>
			</a>
		</div>

		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'account', 'action' => 'receivable']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-dollar" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Contas a Receber</h1>
			</div>
			</a>
		</div>
	</div>
</div>