<table id="datatable-fixed-header" class="table table-striped table-bordered dataTable no-footer"
   role="grid" aria-describedby="datatable-fixed-header_info">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Celular</th>
    </tr>
  </thead>
  <tbody>
    <?php foreach($this->data as $entity): ?>
      <tr>
          <td><?php echo $entity->getName(); ?></td>
          <td><?php echo $entity->getEmail(); ?></td>
          <td><?php echo $entity->getPhone(); ?></td>
          <td><?php echo $entity->getCellphone(); ?></td>
      </tr>
      <?php endforeach; ?>
  </tbody>
</table>