<div style=" padding-top: 15px;">
    <div class="container">
        <div class="well" style="padding-top: 0; background: white">
            <div class="pull-left" style="padding-top: 20px; padding-right: 10px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'index']); ?>">
                    <i class="fa fa-mail-reply" aria-hidden="true" style="color: #333; font-size: 20px"></i>
                </a>
            </div>
            <div class="pull-left">
                <h1 style="font-size: 25px;">Clientes</h1>
            </div>
            <div class="pull-right" style="padding-top: 15px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'customer', 'action' => 'new']); ?>" 
                    class="btn btn-warning btn-sm">
                    NOVO CLIENTE
                </a>
            </div>
            
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Celular</th>
                                <th style="text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($this->data as $entity): 
                            ?>
                            <tr style="cursor: pointer;">
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getName(); ?></td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getEmail(); ?></td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getPhone(); ?></td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getCellphone(); ?></td>
                     
                                <td style="text-align: center;">
                                  
                                    <a class="btn btn-round btn-success btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Visualizar Conta"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'customer', 'action' => 'details', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Detalhes
                                    </a>&nbsp;
                                    <a  class="btn btn-round btn-info btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Editar Conta"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'customer', 'action' => 'edit', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                    </a>&nbsp;
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function viewDetails(id) {
        window.location.href = "<?php echo $this->url('app-router/default', 
            ['controller' => 'customer', 'action' => 'details']); ?>/" + id;
    }
</script>