 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-offset-3">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>" 
              style="color: #444" title="Acessar">Clientes</a> 
              <span style="color: #ff9600"> >> </span>
              Novo
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <br>
                <?php 
                $nameMessage = $this->formElementerrors($form->get('name'));
                $emailMessage = $this->formElementerrors($form->get('email'));
                $phoneMessage = $this->formElementerrors($form->get('phone'));
                $cellphoneMessage = $this->formElementerrors($form->get('cellphone'));

                if ($nameMessage || $emailMessage || $phoneMessage || $cellphoneMessage) {
                  ?>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-danger" role="alert">
                        <?php echo $nameMessage . $emailMessage . $phoneMessage . $cellphoneMessage; ?>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <br>
                  <?php
                }
                ?>
                <div id="form_content">
                <?php 
                $form = $this->form;
                $form->setAttribute('action', $this->url('app-router/default', 
                    ['controller' => 'customer', 'action' => 'new']));
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                      Nome <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formInput($form->get('name')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                      Email <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formEmail($form->get('email')); ?>
                    </div>
                </div><br>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                          Telefone <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formText($form->get('phone')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cellphone">
                          Celular <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formText($form->get('cellphone')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                          CEP
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('postal_code')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                          Endereço
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('address')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                          Número
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('number')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                          Complemento
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('complement')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                          Bairro
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('neighborhood')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">
                          Cidade
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('city')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                          UF
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <?php echo $this->formInput($form->get('state')); ?>
                        </div>
                    </div>
                <div class="clearfix"></div>
                <hr>
                 <div class="footer" style="text-align: center;">
                      <a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>" 
                      class="btn btn-default" >Voltar</a>
                      <?php
                      echo $this->formRow($form->get('security'));
                      echo $this->formButton($form->get('submit'));
                      ?>
                  </div>
                <div class="clearfix"></div>
                <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

