 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-offset-3">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>" 
              style="color: #444" title="Acessar">Financeiro</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'account', 'action' => 'payable']); ?>" 
              style="color: #444" title="Acessar">Contas a Pagar</a> 
              <span style="color: #ff9600"> >> </span>
              Novo
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <br>
                <?php 
                $descriptionMessage = $this->formElementerrors($form->get('description'));
                $valueMessage = $this->formElementerrors($form->get('account_value'));
                $emissionMessage = $this->formElementerrors($form->get('emission'));
                $expirationMessage = $this->formElementerrors($form->get('expiration'));

                if ($descriptionMessage || $valueMessage || $emissionMessage || $expirationMessage) {
                    ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                                <?php echo $descriptionMessage . $valueMessage . $emissionMessage . $expirationMessage; ?>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <?php
                }
                ?>
                <div id="form_content">
                    <?php 
                    $form = $this->form;
                    $form->setAttribute('action', $this->url('app-router/default', 
                        ['controller' => 'account', 'action' => 'new-payable']));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer">
                            Atribuir Cliente
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formSelect($form->get('customer')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user">
                            Documento
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formInput($form->get('document')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                            Descrição <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formInput($form->get('description')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="account_value">
                            Valor <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formInput($form->get('account_value')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emission">
                            Emissão <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formDate($form->get('emission')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expiration">
                            Vencimento <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formDate($form->get('expiration')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="notes">
                            Observações 
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <?php echo $this->formTextarea($form->get('notes')); ?>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                     <div class="footer" style="text-align: center;">
                          <a href="<?php echo $this->url('app-router/default', 
                              ['controller' => 'account', 'action' => 'payable']); ?>" 
                          class="btn btn-default" >Voltar</a>
                          <?php
                          echo $this->formRow($form->get('security'));
                          echo $this->formButton($form->get('submit'));
                          ?>
                      </div>
                    <div class="clearfix"></div>
                <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#form_content").find('ul').hide();

    $("#frm-account-value").maskMoney({
        showSymbol:false, thousands:'.', decimal:',', symbolStay: true
    });
</script>
