<div style=" padding-top: 15px;">
    <div class="container">
        <div class="well" style="padding-top: 0; background: white">
            <div class="pull-left" style="padding-top: 20px; padding-right: 10px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'financial']); ?>">
                    <i class="fa fa-mail-reply" aria-hidden="true" style="color: #333; font-size: 20px"></i>
                </a>
            </div>
            <div class="pull-left">
                <h1 style="font-size: 25px;">Contas a Pagar</h1>
            </div>
            <div class="pull-right" style="padding-top: 15px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'account', 'action' => 'new-payable']); ?>" 
                    class="btn btn-warning btn-sm">
                    LANÇAR CONTA
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Código</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Vencimento</th>
                            <th style="text-align: center;">Situação</th>
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): 
                        switch ($entity->getStatus()) {
                            case 'O':
                                $status_label = "Aberta";
                                $class_label  = "";  
                                break;
                            case 'E':
                                $status_label = "Vencida";
                                $class_label  = "danger";
                                break;
                            case 'P':
                                $status_label = "Quitada";
                                $class_label  = "success";
                                break;
                            default:
                                $status_label = "Indefinda";
                                $class_label  = "warning";
                                break;
                        }
                        ?>
                        <tr class="<?php echo $class_label; ?>">
                            <td style="text-align: center;"><?php echo $entity->getId(); ?></td>
                            <td><?php echo $entity->getDescription(); ?></td>
                            <td><?php echo number_format($entity->getAccountValue(), 2, ',', '.'); ?></td>
                            <td>
                                <?php 
                                $date = explode("-", $entity->getExpiration(), 3); 
                                echo $date[2] . '/' . $date[1] . '/' . $date[0];
                                ?>
                            </td>
                            <td style="text-align: center;">
                                <?php  
                                echo $status_label;
                                ?>
                            </td>
                            <td style="text-align: center;">
                              
                                <a class="btn btn-round btn-success btn-xs"
                                    style="text-decoration: none; cursor: pointer;" title="Visualizar Conta"
                                    href="<?php echo $this->url('app-router/default', 
                                        ['controller' => 'account', 'action' => 'view-payable', 'id' => $entity->getId()]); ?>">
                                    <i class="fa fa-eye" aria-hidden="true"></i> Detalhes
                                </a>&nbsp;
                                   <?php 
                                if ($entity->getStatus() != 'P'): ?>
                                    <a  class="btn btn-round btn-info btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Editar Conta"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'account', 'action' => 'edit-payable', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                    </a>&nbsp;
                         
                                    <a class="btn btn-round btn-danger btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Remover Conta"
                                        onclick="deleteAction(<?php echo $entity->getId(); ?>);">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> Excluir
                                    </a>
                                <?php endif; ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>                
            <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function viewDetails(id) {
        window.location.href = "<?php echo $this->url('app-router/default', 
            ['controller' => 'account', 'action' => 'details']); ?>/" + id;
    }
</script>