<div style=" padding-top: 15px;">
    <div class="container">
        <div class="well" style="padding-top: 0; background: white">
            <div class="pull-left" style="padding-top: 20px; padding-right: 10px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'index']); ?>">
                    <i class="fa fa-mail-reply" aria-hidden="true" style="color: #333; font-size: 20px"></i>
                </a>
            </div>
            <div class="pull-left">
                <h1 style="font-size: 25px;">Agendamentos</h1>
            </div>
            <div class="pull-right" style="padding-top: 15px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'appointment', 'action' => 'new']); ?>" 
                    class="btn btn-warning btn-sm">
                    NOVO AGENDAMENTO
                </a>
            </div>
            
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Cliente</th>
                                <th>Descrição</th>
                                <th style="text-align: center;">Valor</th>
                                <th style="text-align: center;">Situação</th>
                                <th style="text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($this->data as $entity): 
                            switch ($entity->getStatus()) {
                                case 'O':
                                    $status_label = "Aberto";
                                    $class_label  = "";  
                                    break;
                                case 'C':
                                    $status_label = "Congelada";
                                    $class_label  = "danger";
                                    break;
                                case 'D':
                                    $status_label = "Concluído";
                                    $class_label  = "success";
                                    break;
                                default:
                                    $status_label = "Indefindo";
                                    $class_label  = "warning";
                                    break;
                            }
                            ?>
                            <tr class="<?php echo $class_label; ?>" style="cursor: pointer;">
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getTime(); ?></td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getCustomer()->getName(); ?></td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);"><?php echo $entity->getDescription(); ?></td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);" style="text-align: center;">
                                    <?php echo number_format($entity->getPrice(), 2, ',', '.'); ?>
                                </td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);" style="text-align: center;">
                                    <?php  
                                    echo $status_label;
                                    ?>
                                </td>
                                <td style="text-align: center;">
                                  
                                    <a class="btn btn-round btn-success btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Visualizar Conta"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'appointment', 'action' => 'details', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Detalhes
                                    </a>&nbsp;
                                       <?php 
                                    if ($entity->getStatus() != 'P'): ?>
                                        <a  class="btn btn-round btn-info btn-xs"
                                            style="text-decoration: none; cursor: pointer;" title="Editar Conta"
                                            href="<?php echo $this->url('app-router/default', 
                                                ['controller' => 'appointment', 'action' => 'edit', 'id' => $entity->getId()]); ?>">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                                        </a>&nbsp;
                                    <?php endif; ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function viewDetails(id) {
        window.location.href = "<?php echo $this->url('app-router/default', 
            ['controller' => 'appointment', 'action' => 'details']); ?>/" + id;
    }
</script>