 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-offset-3">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>" 
              style="color: #444" title="Acessar">Agendamentos</a> 
              <span style="color: #ff9600"> >> </span>
              Novo
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <br>
                <?php 
                $descriptionMessage = $this->formElementerrors($form->get('description'));
                $timeMessage = $this->formElementerrors($form->get('time'));

                if ($descriptionMessage || $timeMessage) {
                  ?>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-danger" role="alert">
                        <?php echo $descriptionMessage . $timeMessage; ?>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                    <br />
                  <?php
                }
                ?>
                <div id="form_content">
                    <?php 
                    $form = $this->form;
                    $form->setAttribute('action', $this->url('app-router/default', 
                        ['controller' => 'appointment', 'action' => 'new']));
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="customer" required>
                      Cliente <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formSelect($form->get('customer')); ?>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description" required>
                      Descrição <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formText($form->get('description')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="time" required>
                      Data/Hora <span class="required">*</span>
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formText($form->get('time')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">
                      Valor
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formText($form->get('price')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gallery">
                      Arquivos
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formFile($form->get('gallery')); ?>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="notes">
                      Observações
                    </label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <?php echo $this->formTextarea($form->get('notes')); ?>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>
                 <div class="footer" style="text-align: center;">
                      <a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>" 
                      class="btn btn-default" >Voltar</a>
                      <?php
                      echo $this->formRow($form->get('security'));
                      echo $this->formButton($form->get('submit'));
                      ?>
                  </div>
                <div class="clearfix"></div>
                <?php echo $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#frm-time").mask("99/99/9999 99:99");
  
    $("#form_content").find('ul').hide();

    $("#frm-price").maskMoney({
        showSymbol:false, thousands:'.', decimal:',', symbolStay: true
    });
</script>