<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Controle de Agendamentos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Carlos Alvarez - Alvarez.is">
        <link href="<?php echo $this->basePath(); ?>/assets/css/bootstrap.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/login.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <style type="text/css">
          body {
            padding-top: 30px;
          }
        </style>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="<?php echo $this->basePath(); ?>/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-57-precomposed.png">
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.validate.js"></script>
        <script type="text/javascript">
            $().ready(function() {
                $("#commentForm").validate();
                $("#signupForm").validate({
                    rules: {
                        password: {
                            required: true,
                            minlength: 3
                        },
                        email: {
                            required: true,
                            email: true
                        },
                    },
                    messages: {
                        password: {
                            required: "*campo senha obrigatório.",
                            minlength: "*caracteres insuficientes."
                        },
                        email: "*informe um endereço de email válido.",
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4" style="margin-top:100px">
                    <div class="block-unit" 
                        style="text-align:center; padding-top: 30px; padding-bottom: 30px;">
                        <img src="<?php echo $this->basePath(); ?>/assets/img/logo.png" 
                            alt="JATECDEV" class="img-circle">
                        <br>
                        <?php if ($this->error): ?>
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert" 
                                    style="margin-bottom: 0; margin-top: 5%">
                                    Usuário não encontrado
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        <?php endif; ?>
                        <br>
                        <?php
                        $form = $this->form;
                        $form->setAttributes([
                            'action' => $this->url('app-auth'),
                            'class' => 'cmxform',
                            'id' => 'signupForm'
                        ]);
                        $form->prepare();
                        echo $this->form()->openTag($form);
                        ?>
                        <fieldset>
                            <p>
                                <?php echo $this->formEmail($form->get('email')); ?>
                                <?php echo $this->formPassword($form->get('password')); ?>
                            </p>
                            <?php echo $this->formSubmit($form->get('submit')); ?>
                        </fieldset>
                        <?php echo $this->form()->closeTag(); ?>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/bootstrap.js"></script>
    </body>
</html>