﻿<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Controle de Agendamentos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="<?php echo $this->basePath(); ?>/assets/css/bootstrap.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/main.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/font-style.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/flexslider.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/assets/css/register.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/editor/editor.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="<?php echo $this->basePath(); ?>/lightbox/css/lightbox.min.css" rel="stylesheet">
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery-latest.js"></script>
        <style type="text/css">
          body {
            padding-top: 65px;
          }
        </style>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="<?php echo $this->basePath(); ?>/assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->basePath(); ?>/assets/ico/apple-touch-icon-57-precomposed.png">

        <!--
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        -->
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/editor/editor.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.mask.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath(); ?>/assets/js/jquery.maskMoney.js"></script>
    </head>
<body>
    <div class="navbar-nav navbar-fixed-top" style="margin: 0;">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" style="color: white;">
            <img src="<?php echo $this->basePath(); ?>/assets/img/logo.png" width="19">
            Controle de Agendamentos</span>
        </div> 
          <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">
                <i class="fa fa-dashboard" aria-hidden="true"></i> Inicio
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>">
                <i class="fa fa-users" aria-hidden="true"></i> Clientes
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Agendamentos
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>">
                <i class="fa fa-money" aria-hidden="true"></i> Financeiro
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', ['controller' => 'report']); ?>">
                <i class="fa fa-file" aria-hidden="true"></i> Relatórios
              </a></li>
              <li><a href="<?php echo $this->url('app-router/default', 
                                ['controller' => 'auth', 'action' => 'logout']); ?>">
                <i class="fa fa-mail-reply" aria-hidden="true"></i> Sair
              </a></li>
            </ul>
          </div>
          <div class="clearboth"></div>
        </div>
    </div>
    <?php echo $this->content; ?>
    </div>
</body>
</html>