<br>
<div class="container">
    <div class="row">
    	<div class="clearfix"></div>
		<div class="col-sm-4 col-lg-4">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'report']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/download.png" alt="Relatórios" class="img-circle">
				</div>
				<h1>Relatórios</h1>
			</div>
			</a>
		</div>

		<div class="col-sm-4 col-lg-4">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'auth', 'action' => 'logout']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/close.png" alt="Encerrar Sessão" class="img-circle">
				</div>
				<h1>Encerrar Sessão</h1>
			</div>
			</a>
		</div>
			<div class="col-sm-4 col-lg-4">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<img src="<?php echo $this->basePath(); ?>/assets/img/return.png" alt="Marcel Newman" class="img-circle">
				</div>
				<h1>Voltar</h1>
			</div>
			</a>
		</div>
	</div>
</div>