<br>
<div class="container">
    <div class="row">
    	<div class="clearfix"></div>
        <div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'customer']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-users" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Clientes</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'appointment']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-calendar-check-o" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Agendamentos</h1>
			</div>
			</a>
		</div>
		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'financial']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-money" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Financeiro</h1>
			</div>
			</a>
		</div>

		<div class="col-sm-6 col-lg-6">
      		<a href="<?php echo $this->url('app-router/default', ['controller' => 'report']); ?>">
      		<div class="dash-unit">
	      		<div class="thumbnail">
					<i class="fa fa-file" aria-hidden="true" style="font-size:4em"></i>
				</div>
				<h1>Relatórios</h1>
			</div>
			</a>
		</div>
	</div>
</div>