<script type="text/javascript">
var md5=(function(){function e(e,t){var o=e[0],u=e[1],a=e[2],f=e[3];o=n(o,u,a,f,t[0],7,-680876936);f=n(f,o,u,a,t[1],
12,-389564586);a=n(a,f,o,u,t[2],17,606105819);u=n(u,a,f,o,t[3],22,-1044525330);o=n(o,u,a,f,t[4],7,-176418897);f=n(f,o,u,a,t[5],
12,1200080426);a=n(a,f,o,u,t[6],17,-1473231341);u=n(u,a,f,o,t[7],22,-45705983);o=n(o,u,a,f,t[8],7,1770035416);f=n(f,o,u,a,t[9],
12,-1958414417);a=n(a,f,o,u,t[10],17,-42063);u=n(u,a,f,o,t[11],22,-1990404162);o=n(o,u,a,f,t[12],7,1804603682);f=n(f,o,u,a,t[13],
12,-40341101);a=n(a,f,o,u,t[14],17,-1502002290);u=n(u,a,f,o,t[15],22,1236535329);o=r(o,u,a,f,t[1],5,-165796510);f=r(f,o,u,a,t[6],
9,-1069501632);a=r(a,f,o,u,t[11],14,643717713);u=r(u,a,f,o,t[0],20,-373897302);o=r(o,u,a,f,t[5],5,-701558691);f=r(f,o,u,a,t[10],
9,38016083);a=r(a,f,o,u,t[15],14,-660478335);u=r(u,a,f,o,t[4],20,-405537848);o=r(o,u,a,f,t[9],5,568446438);f=r(f,o,u,a,t[14],
9,-1019803690);a=r(a,f,o,u,t[3],14,-187363961);u=r(u,a,f,o,t[8],20,1163531501);o=r(o,u,a,f,t[13],5,-1444681467);f=r(f,o,u,a,t[2],
9,-51403784);a=r(a,f,o,u,t[7],14,1735328473);u=r(u,a,f,o,t[12],20,-1926607734);o=i(o,u,a,f,t[5],4,-378558);f=i(f,o,u,a,t[8],
11,-2022574463);a=i(a,f,o,u,t[11],16,1839030562);u=i(u,a,f,o,t[14],23,-35309556);o=i(o,u,a,f,t[1],4,-1530992060);f=i(f,o,u,a,t[4],
11,1272893353);a=i(a,f,o,u,t[7],16,-155497632);u=i(u,a,f,o,t[10],23,-1094730640);o=i(o,u,a,f,t[13],4,681279174);f=i(f,o,u,a,t[0],
11,-358537222);a=i(a,f,o,u,t[3],16,-722521979);u=i(u,a,f,o,t[6],23,76029189);o=i(o,u,a,f,t[9],4,-640364487);f=i(f,o,u,a,t[12],
11,-421815835);a=i(a,f,o,u,t[15],16,530742520);u=i(u,a,f,o,t[2],23,-995338651);o=s(o,u,a,f,t[0],6,-198630844);f=s(f,o,u,a,t[7],
10,1126891415);a=s(a,f,o,u,t[14],15,-1416354905);u=s(u,a,f,o,t[5],21,-57434055);o=s(o,u,a,f,t[12],6,1700485571);f=s(f,o,u,a,t[3],
10,-1894986606);a=s(a,f,o,u,t[10],15,-1051523);u=s(u,a,f,o,t[1],21,-2054922799);o=s(o,u,a,f,t[8],6,1873313359);f=s(f,o,u,a,t[15],
10,-30611744);a=s(a,f,o,u,t[6],15,-1560198380);u=s(u,a,f,o,t[13],21,1309151649);o=s(o,u,a,f,t[4],6,-145523070);f=s(f,o,u,a,t[11],
10,-1120210379);a=s(a,f,o,u,t[2],15,718787259);u=s(u,a,f,o,t[9],21,-343485551);e[0]=m(o,e[0]);e[1]=m(u,e[1]);e[2]=m(a,e[2]);e[3]=m(f,e[3])}
function t(e,t,n,r,i,s){t=m(m(t,e),m(r,s));return m(t<<i|t>>>32-i,n)}function n(e,n,r,i,s,o,u){return t(n&r|~n&i,e,n,s,o,u)}
function r(e,n,r,i,s,o,u){return t(n&i|r&~i,e,n,s,o,u)}function i(e,n,r,i,s,o,u){return t(n^r^i,e,n,s,o,u)}
function s(e,n,r,i,s,o,u){return t(r^(n|~i),e,n,s,o,u)}function o(t){var n=t.length,r=[1732584193,-271733879,-1732584194,271733878],i;
for(i=64;i<=t.length;i+=64){e(r,u(t.substring(i-64,i)))}t=t.substring(i-64);var s=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
for(i=0;i<t.length;i++)s[i>>2]|=t.charCodeAt(i)<<(i%4<<3);s[i>>2]|=128<<(i%4<<3);if(i>55){e(r,s);for(i=0;i<16;i++)s[i]=0}s[14]=n*8;e(r,s);return r}
function u(e){var t=[],n;for(n=0;n<64;n+=4){t[n>>2]=e.charCodeAt(n)+(e.charCodeAt(n+1)<<8)+(e.charCodeAt(n+2)<<16)+(e.charCodeAt(n+3)<<24)}return t}
function c(e){var t="",n=0;for(;n<4;n++)t+=a[e>>n*8+4&15]+a[e>>n*8&15];return t}
function h(e){for(var t=0;t<e.length;t++)e[t]=c(e[t]);return e.join("")}
function d(e){return h(o(unescape(encodeURIComponent(e))))}
function m(e,t){return e+t&4294967295}var a="0123456789abcdef".split("");return d})();
</script>
 <style type="text/css"> 
body {
  background: url(<?php echo $this->basePath(); ?>/assets/img/content-bg.jpg);
}
</style>
<div>
  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-offset-3">
            <div style="text-align: center; color: #444; font-size: 15px; margin-top: 12px">
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'index']); ?>" 
                style="color: #444" title="Acessar">Início</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'system-config']); ?>" 
              style="color: #444" title="Acessar">Sistema</a> 
              <span style="color: #ff9600"> >> </span>
              <a href="<?php echo $this->url('app-router/default', ['controller' => 'user']); ?>" 
              style="color: #444" title="Acessar">Usuários</a> 
              <span style="color: #ff9600"> >> </span>
              Alterar Senha
            </div>
            <div class="well" style="background: white; margin-top: 24px">
                <form method="post" name="changePasswordForm" class="form-horizontal form-label-left">
                    <div class="form-group" id="box_current_password">
                          <label class="control-label col-md-3" for="first-name">
                            Senha atual: <span class="required">*</span>
                          </label>
                          <div class="col-md-7">
                              <input type="password" class="form-control col-md-7 col-xs-12"
                                placeholder="Informa a nova senha atual"
                                id="current_password" onchange="checkCurrentPass();">
                          </div>
                    </div>
                         
                    <div class="form-group" id="box_new_password">
                        <label class="control-label col-md-3" for="label_current_password" id="label_current_password">
                          Nova senha: <span class="required">*</span>
                        </label>
                        <div class="col-md-7">
                            <input type="password" id="new_password" class="form-control col-md-7 col-xs-12"
                              placeholder="Informa a nova senha"  disabled="true">
                        </div>
                    </div>
                    <div class="form-group" id="box_confirm_password">
                        <label class="control-label col-md-3" for="first-name" id="label_confirm_password">
                          Confirme: <span class="required">*</span>
                        </label>
                        <div class="col-md-7">
                            <input type="password" class="form-control col-md-7 col-xs-12"
                              placeholder="Confirma a nova senha"
                              id="confirm_password" disabled="true" onchange="verifyNewPass();">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                      <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                              <input type="button" id="btn_change_pass" class="btn btn-success" value="Salvar" 
                                disabled="true" onclick="changePassword(<?php echo $user->getId(); ?>);">
                           <div class="clearfix"></div>
                                <span id="pass_loader" style="display: none;">
                                  <img src="<?php echo $this->basePath() . '/images/ajax-loader.gif'; ?>"> 
                                </span>
                                <span id="pass_success" style="display: none; color: green">
                                  Senha atualizada, redirecionando...
                                </span>
                                <span id="pass_error" style="display: none; color: red">
                                  Erro ao atualizar senha, tente novamente.
                                </span>
                          </div>
                      </div>
                    </form>
            </div>
        </div>
    </div>
  </div>
</div>
<input type="hidden" id="cachedPass" value="<?php echo $user->getPassword(); ?>">
    <script type="text/javascript">
      function checkCurrentPass() {
        var cachedPass = $("#cachedPass").val();
        var currentPass = $("#current_password");

        if (md5(currentPass.val()) !== cachedPass) {
          $("#new_password").attr('disabled', true);
          $("#confirm_password").attr('disabled', true);

        } else {
          $("#new_password").attr('disabled', false);
          $("#confirm_password").attr('disabled', false);

          currentPass.attr('readonly', true);
        }
      }

      function verifyNewPass() {
        var newPass     = $("#new_password");
        var confirmPass = $("#confirm_password");
        
        if (newPass.val() !== confirmPass.val()) {
        
        } else {
          $("#btn_change_pass").attr('disabled', false);
        }
      }

      function changePassword(id) {
        var currentPass = $("#current_password");
        var newPass     = $("#new_password");
        var confirmPass = $("#confirm_password");

        newPass.attr('readonly', true);
        confirmPass.attr('readonly', true);

        $("#btn_change_pass").attr('disabled', true);
        $("#btn_cancel").attr('disabled', true);

        $("#pass_loader").show();
        $("#pass_success").hide();
        $("#pass_error").hide();

        $.ajax({
          url: "<?php echo $this->url('app-router/default', array('controller' => 'user', 'action' => 'update-password')); ?>?id=" + id + "&pass=" + md5(newPass.val()),
          success: function() {
            $("#pass_loader").hide();
            $("#pass_success").show();
            $("#pass_error").hide();

            currentPass.attr('readonly', false);
            newPass.attr('readonly', false);
            confirmPass.attr('readonly', false);

            currentPass.val('');
            newPass.val('');
            confirmPass.val('');

            $("#btn_change_pass").attr('disabled', true);
            $("#btn_cancel").attr('disabled', false);

            window.location.href = "<?php echo $this->url('app-router/default', array('controller' => 'user')); ?>";
          },
          error: function() {
            $("#pass_loader").hide();
            $("#pass_success").hide();
            $("#pass_error").show();

            currentPass.attr('readonly', false);
            newPass.attr('readonly', false);
            confirmPass.attr('readonly', false);

            $("#btn_change_pass").attr('disabled', true);
            $("#btn_cancel").attr('disabled', false);
          }
        });
      }
    </script>