<div style=" padding-top: 15px;">
    <div class="container">
        <div class="well" style="padding-top: 0; background: white">
            <div class="pull-left" style="padding-top: 20px; padding-right: 10px">
                <a href="<?php echo $this->url('app-router/default', 
                    ['controller' => 'financial']); ?>">
                    <i class="fa fa-mail-reply" aria-hidden="true" style="color: #333; font-size: 20px"></i>
                </a>
            </div>
            <div class="pull-left">
                <h1 style="font-size: 25px;">Vendas</h1>
            </div>
            <div class="clearfix"></div>            
                <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Código</th>
                            <th>Cliente</th>
                            <th>Valor</th>
                            <th>Data da Venda</th>
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->data as $entity): ?>
                            <tr style="cursor: pointer;">
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);" style="text-align: center;">
                                    <?php echo $entity->getId(); ?>
                                </td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);">

                                    <?php echo $entity->getAppointment()->getCustomer()->getName(); ?>
                                </td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);">
                                    R$ <?php echo number_format($entity->getTotal(), 2, ',', '.'); ?>
                                </td>
                                <td onclick="viewDetails(<?php echo $entity->getId(); ?>);">
                                    <?php echo date_format($entity->getSaleDate(), "d/m/Y h:i"); ?>
                                </td>
                                <td style="text-align: center;">
                                    <a class="btn btn-round btn-info btn-xs"
                                        style="text-decoration: none; cursor: pointer;" title="Editar Subcategoria"
                                        href="<?php echo $this->url('app-router/default', 
                                            ['controller' => 'sale', 'action' => 'details', 'id' => $entity->getId()]); ?>">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Detalhes
                                    </a>&nbsp;
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
                <?php echo $this->paginationControl($this->data, 'Sliding', 'partials/paginator'); ?>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function viewDetails(id) {
        window.location.href = "<?php echo $this->url('app-router/default', 
            ['controller' => 'sale', 'action' => 'details']); ?>/" + id;
    }
</script>